# See http://help.github.com/ignore-files/ for more about ignoring files.
# System Files
.DS_Store
Thumbs.db
__history
__recovery
Profiling
psd
Android
ENU
NLD
Win32
Win64
.idea
*.orig
*.dll
*.png
*Copy*.pas
*.groupproj
*.local
*.deployproj
*.stat
*.dcu
xxx*.*
FMX.Presentation.Style.pas
imagecontrolestyle01
imgcontrolstyle1
keystorefile01
Edit1Style
main.fmx.fff
*.old
ProjectGroup1_prjgroup.tvsconfig.xml
bla*.*
*bup*
colbtn*
FastMM*
flash.*
*.htm
*.html
*.bk?
*.exe
*.undo
*.rescue
*.stat
*.txt
Package*
Project*
*.zip
*.pdf
wiltree*
VT*
VST*
tmp*
oih*
*Copy*
images
main*
noot5.gif
